* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
label {
  cursor: pointer;
  border: none;
  background-color: var(--color-background);
}

html {
  font-size: 16px;
  height: 100%;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Segoe UI Variable Static Small", "Segoe UI", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
button {
  font: inherit;
}

label {
  font-size: 2rem;
  line-height: 1.12;
  color: var(--color-checkbox);
}

label input[type="checkbox"] {
  margin-right: 8px;
}

ul,
ol {
  list-style: none;
}

#root,
.app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  width: 100%;
}

:root {
  --color-orange: #f75c4b;
  --color-black: black;
  --color-shadow: rgba(0, 0, 0, 0.08);
  --color-background: linear-gradient(90deg, #ff7900 0%, #ff4c48 100%);
  --color-white: white;
  --color-card: #c6c6c6;
  --color-checkbox: #7c7c7c;
}
