.wrapped {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 40px;
  width: 1000px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 8px 30px var(--color-shadow);
}

.h1 {
  color: var(--color-orange);
  font-weight: 600;
  font-size: 4.6rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
  margin: 5rem auto 0 auto;
  max-width: 80rem;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  margin: 38px 0 54px 0;
  font-size: 2rem;
  line-height: 1;
  text-align: center;
  color: var(--color-orange);
}

.crossParent {
  position: relative;
}

.cross {
  position: absolute;
  top: -2rem;
  right: 0;
}
