.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.15rem auto 0;
  gap: 0.8rem;
}

.input {
  width: 25rem;
  color: var(--color-black);
  height: 4.5rem;
  border-radius: 42px;
  border: solid 3px var(--color-orange);
  font-size: 1.5rem;
  text-align: center;
}

.checkbox {
  color: var(--color-checkbox);
  font-size: 1.5rem;
  line-height: 1.12;
}

.span {
  text-decoration: underline;
}

.button {
  margin: 3.1rem auto 2.75rem auto;
}

.showButton {
  color: var(--color-orange);
}
