.card {
  width: 32.5rem;
  display: inline-block;
  border-radius: 43px;
  text-align: center;
  box-shadow: 0 2px 10px var(--color-shadow);
  background: var(--color-white);
  overflow: hidden;
}

.header {
  border-radius: 2.6rem 2.6rem 0 0;
  position: relative;
  height: 4rem;
  align-content: center;
  background: var(--color-background);
}

.title {
  color: var(--color-white);
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.2;
  text-align: center;
  text-transform: uppercase;
}

.svg {
  position: absolute;
  width: 25px;
  height: auto;
  top: 1.25rem;
  right: 2rem;
  cursor: pointer;
}
