.footer {
  height: 10rem;
  width: auto;
  background: var(--color-background);
}

.footerTexts {
  height: 100%;
  color: var(--color-white);
  font-size: 1.8rem;
  margin: 0 17rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button {
  color: var(--color-white);
}

@media (width: 1440px) {
  .footerTexts {
    height: 100%;
    color: var(--color-white);
    font-size: 1.8rem;
    margin: 0 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (width: 1280px) {
  .footerTexts {
    height: 100%;
    color: var(--color-white);
    font-size: 1.8rem;
    margin: 0 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media (width: 1024px) {
  .footerTexts {
    height: 100%;
    color: var(--color-white);
    font-size: 1.8rem;
    margin: 0 10rem;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;
  }
}
