.container {
  background: url("BG.png") no-repeat center top;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.headerLogo {
  display: flex;
  justify-content: center;
  margin-top: -2.1rem;
}

.headerLogoImg {
  width: 12.5rem;
  height: 7rem;
}

.authorizationContainerPosition {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 2rem;
  right: 5.8rem;
}

.authorizationContainer {
  display: flex;
  gap: 10px;
  width: 17.3rem;
  height: 2.5rem;
}

.button {
  font-size: 1.8rem;
  color: var(--color-orange);
}

/* Amazing Bright */

.amazingBrightContainer {
  display: flex;
  justify-content: flex-end;
  margin: 15rem 11rem 0 0;
}

.amazingBright {
  max-width: 43.5rem;
  display: flex;
  flex-direction: column;
}

.amazingBrightLogo {
  width: 100%;
  height: auto;
}

.amazingBrightCheckIn {
  align-self: center;
  margin-top: 10rem;
}

.amazingBrightButton {
  display: flex;
  justify-content: center;
}

.amazingBrightSteps {
  display: flex;
  margin-top: 7.5rem;
  width: 100%;
  max-width: 40rem;
  gap: 1.6rem;
}

.p {
  color: var(--color-orange);
  font-size: 1.2rem;
  font-family: "Revard.ttf", "Segoe UI", sans-serif;
}

.span {
  color: var(--color-orange);
  font-size: 2rem;
}

/* PRIZES */

.winPrizesContainer {
  position: relative;
  margin-top: 10.8rem;
}

.winPrizesImages {
  position: relative;
  width: 100%;
  height: 86.6rem;
  display: flex;
  justify-content: center;
}

.winPrizesImages img {
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  opacity: 1;
}

.winPrizesImages img.hide {
  opacity: 0;
  transform: scale(0.95);
}

.winPrizesImages img:first-child {
  position: absolute;
  top: 10rem;
  left: 16rem;
}

.winPrizesImages img:nth-child(2) {
  position: absolute;
  top: 20rem;
  left: 41rem;
}

.winPrizesImages img:nth-child(3) {
  position: absolute;
  top: 50rem;
  left: 13.7rem;
}

.winPrizesImages img:nth-child(4) {
  position: absolute;
  top: 50rem;
  right: 239px;
}

.arrowOne,
.arrowTwo {
  position: absolute;
  width: 44px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  z-index: 10;
}

.arrowOne {
  top: 40rem;
  left: 13rem;
}

.arrowTwo {
  top: 40rem;
  right: 13rem;
}

.arrowOne:hover,
.arrowTwo:hover {
  transform: translateY(-15px) scale(1.2);
}

.arrowTwo img {
  transform: scaleX(-1);
}

.winPrizeButtonPosition {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  margin-bottom: 6rem;
}

/* Mango and Leaves */

.winPrizeMangoAndLeaves {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.winPrizeMangoAndLeaves img:first-child {
  position: absolute;
  width: 12.8rem;
  height: 26rem;
  top: 0;
  left: 0;
}

.winPrizeMangoAndLeaves img:nth-child(2) {
  position: absolute;
  width: 15.5rem;
  height: 31.6rem;
  top: 0;
  right: 0;
  transform: scaleX(-1);
}

.winPrizeMangoAndLeaves img:nth-child(3) {
  position: absolute;
  width: 16rem;
  top: 80rem;
  right: 0;
  transform: scaleX(-1);
}

.winPrizeMangoAndLeaves img:nth-child(4) {
  position: absolute;
  bottom: -12rem;
  left: 10rem;
  transform: rotate(-80deg);
}

.winPrizeMangoAndLeaves img:nth-child(5) {
  position: absolute;
  top: 15rem;
  left: 0;
}

.winPrizeMangoAndLeaves img:last-child {
  position: absolute;
  top: 90rem;
  right: 0;
  transform: rotate(-92deg);
}
