.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2.15rem auto 0 auto;
  gap: 0.8rem;
}

.input {
  width: 25rem;
  color: var(--color-black);
  height: 4.5rem;
  border-radius: 42px;
  border: solid 3px var(--color-orange);
  font-size: 1.5rem;
  text-align: center;
}

.buttonRecovery {
  width: 15rem;
  align-self: start;
  cursor: pointer;
  text-decoration: underline;
  border: none;
  background: none;
  font-size: 1.5rem;
  margin: 0 0 1rem 1.8rem;
  color: var(--color-checkbox);
}

.buttonFooter {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.button {
  text-decoration: underline;
  border: none;
  background: none;
  font-size: 1.5rem;
  line-height: 1;
  margin: 1.5rem 0 2rem 0;
  cursor: pointer;
  color: var(--color-checkbox);
  width: 14rem;
}
