.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.inputs {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.input {
  margin: 6rem 0 2rem 0;
  font-size: 6.8rem;
  color: var(--color-orange);
  text-align: center;
  width: 6.8rem;
  height: 6.7rem;
  border-radius: 22%;
  border: solid 3px var(--color-orange);
}

.buttonFooter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 14px;
  margin: 6rem auto 3.3rem auto;
}

.button {
  text-decoration: underline;
  border: none;
  background: none;
  font-size: 2rem;
  line-height: 2;
  cursor: pointer;
  color: var(--color-checkbox);
  width: 22rem;
  height: auto;
}
